<% layout('layouts/boilerplate') %>

<!-- PROJECTS SECTION -->
<section id="projects-section">
  <% projects.forEach(function(project, index) { %>
    <div class="project-block <%= index % 2 === 0 ? '' : 'project-reverse' %>">
      <!-- Project Details -->
      <div class="project-details">
        <h1 class="project-title"><%= project.title %></h1>
        <p class=""><%= project.description %></p>
        <p class="">Used Tech</p>
        <p class="">Technology used: <%= project.techUsed %>.</p>
        <a href="<%= project.link %>" class="btn btn-outline-light p-3" style="border-radius: 30px;">Visit the Page</a>
        <a href="<%= project.githubUrl %>" class="github-link " ><i class="fa-brands fa-github" ></i></a>
      </div>
      <!-- Project Video -->
      <div class="project-video">
        <iframe src="<%= project.videoUrl %>" class="video-iframe" allow="autoplay; fullscreen; picture-in-picture" allowfullscreen></iframe>
      </div>
    </div>
  <% }); %>
</section>
